@charset "utf-8";

#wrapper {   
    min-height: 100vh;
    height: 100%;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.table {
    position:absolute; 
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
}

